<div class="navbar navbar-expand-sm navbar-plow">
<%= link_to items_path do %>
  <div class="d-flex">
    <%= image_tag "plow-logo.png", class: "logo-plow" %>
    <h1>PLOW</h1>
  </div>
<% end %>
  <ul class="navbar-nav">
    <li class="nav-item mr-4"><h2><%= link_to "All Listings", items_path %></h2></li>
  </ul>
</div>


<div class="container">
  <div class="row">
    <div class="col-8">
      <% if current_user.items.any? %>
        <div class="container d-flex flex-column bd-highlight mb-3">
          <% current_user.items.each do |item| %>
            <%= render "shared/card", item: item %>
          <% end %>
          <% else %>
              <div class="container m-2 text-center">
                <h1>No listed items yet 😥....</h1>
                <h2>You can click on add to make your first item!</h2>
              </div>
          <% end %>
        </div>
    </div>
    <div class="col-4">
      <%= render partial: "items/new", locals: { item: @item, user: @user }  %>
    </div>
  </div>
</div>

<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong><%= current_user.first_name  %></strong><i class="far fa-snowflake" style="color:#5EB799 !important;"></i>Welcome back!</span>
  <a data-dismiss="alert" aria-label="Close">
  </a>
</div>
