<div class="navbar navbar-expand-sm navbar-plow">
  <h1>PLOW</h1>
  <ul class="navbar-nav">
  <li class="nav-item mr-4"><h2><%= link_to "My Rentals", bookings_path %></h2></li>
  </ul>
</div>

<div class="container d-flex items-space-between">
  <div class="grid">
    <div class="row">
        <% @items.each do |item| %>
          <div class="col">
            <%= link_to item_path(item) do%>
              <div class="card-large">
                <img src="<%= cl_image_path item.photo.key, height: 200, width: 234, crop: :fill, class: "item-card-image" %>" alt="Plow item">
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar"/>
                <p class="card-item-category"><%= item.category %></p>
                <div class="card-textbox">
                  <h2><%= item.title.capitalize %></h2>
                  <div class="card-info">
                    <div>
                      <p>Size: <strong><%= item.size %></strong></p>
                      <p><%= item.condition %></p>
                    </div>
                    <div class="card-price">
                      <p>Price per day:</p>
                      <h3>¥<%= number_with_delimiter(item.price_per_day, delimter: "," ) %></h3>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="col-3" id="map"
    style="width: 300px; height: 500px; border-radius: 3px; margin-left: 24px;margin-top: 8px; box-shadow: 0 0 6px rgba(0,0,0,0.2); position: sticky; top: 50px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
