<div class="navbar navbar-expand-sm navbar-plow">
  <div class="d-flex">
    <%= image_tag "plow-logo.png", class: "logo-plow" %>
    <h1>PLOW</h1>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item mr-4">
      <h2><%= link_to "All Listings", items_path %></h2>
    </li>
    <li class="nav-item mr-4">
      <h2><%= link_to "My Bookings", bookings_path %></h2>
    </li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card p-2 card-xl mt-2">
        <h2 class="text-center"><%= @item.title.capitalize %></h2>
        <div class="d-flex justify-content-between">
          <div class="p-2">
            <p>Price per day:</p>
            <h3>¥<strong><%= number_with_delimiter(@item.price_per_day, :delimiter => ',') %></strong></h3>
          </div>
          <div class="p-2">
            <p>Location: <%= @item.location %></strong></p>
        </div>
      </div>
      <div class="container d-flex justify-content-center">
        <%= cl_image_tag @item.photo.key, width: 380, height: 380, crop: :fill, class: 'img-fluid m-2' %>
      </div>
      <p>Size: <strong><%= @item.size %></strong></p>
      <p>Condition: <strong><%= @item.condition %></strong></p>
      <p>Description: <%= @item.description.capitalize %></p>
    </div>
  </div>
  <div class="col-6">
    <div class="m-4">
      <%= simple_form_for [@item, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.submit class: 'button-frost', data: {toggle: 'modal', target: '#myBookingsOrListings'} %>
      <% end %>
    </div>
    <div id="map"
        style="width: 100%; height: 250px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
</div>
<!-- Modal -->
<%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> %>
<!-- Modal -->
<div class="modal fade" id="myBookingsOrListings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><strong>Confirmation</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thank you for your booking! The owner is currently reviewing your request and will accept it as soon as possible.
      </div>
      <div class="modal-footer">
        <%= link_to 'Items List', items_path, class: 'btn btn-primary' %>
        <%= link_to 'My Bookings', bookings_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
